<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="El menú de Deliburger incluye hamburguesas, papas, yogures y nachos, todos bajos en grasas y calorías, sin sacrificar calidad ni sabor.">
    <meta name="keywords" content="Deliburger, hamburguesa, ligero, sano, sabroso, fitness, dieta, menú">
    <link rel="icon" href="../img/DB-Logo.png" type="image/png"/>
    <title>Deliburger: Nuestro menú</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/950aaf266d.js" crossorigin="anonymous"></script>    
  </head>
  <body>
    <header>
      <div class="topbar">
        <div class="header_logo">
          <img class="burgerID" src="../img/DB-Logo.png" alt="Logo de Deliburger">
        </div>
        <div class="header_title">
          <h1>Deliburger</h1>
          <p class="subtitle">Siempre sano y saludable</p>
        </div>
        <div class="header_menu">
          <a href="#" class="but-menu"><span class="fas fa-bars icon"></span></a>
        </div>
      </div>
      <nav>
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="./menu.html">Menú</a></li>
          <li><a href="./nosotros.html">Nosotros</a></li>
          <li><a href="./locales.html">Locales</a></li>
          <li><a href="./contacto.html">Contacto</a></li>
        </ul>
      </nav>  
    </header>
	<div class="intro">
		<h3>Comida rápida, pero sana y sabrosa.</h3>
		<p class="declaration">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quisquam, culpa molestiae repellat, voluptatibus minima!<br>Similique inventore, odit fuga. Quidem reprehenderit maxime voluptates qui, id, accusantium fugit quis nulla eum.</p>
	</div>
	<section class="meals">
		<article class="product">
			<h4>Big Deli </h4>
			<img class="item" src="../img/burger01.jpg" alt="Hamburguesa Big Deli">
			<p class="descript">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos praesentium tempora quos nobis assumenda obcaecati doloribus ipsa beatae, voluptates sit expedita possimus similique.</p>
		</article>
		<article class="product">
			<h4>Chicken Deli</h4>
			<img class="item" src="../img/burger02.jpg" alt="Hamburguesa Chicken Deli">
			<p class="descript">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium: eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo!</p>
		</article>
		<article class="product">
			<h4>Deli Deluxe</h4>
			<img class="item" src="../img/burger03.jpg" alt="Hamburguesa Deli Deluxe">
			<p class="descript">Quis autem vel eum iure? Reprehenderit qui. In ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur, ex ea commodi.</p>
		</article>
			<article class="product">
			<h4>Quarter Deli</h4>
			<img class="item" src="../img/burger04.jpg" alt="Hamburguesa Quarter Deli">
			<p class="descript">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quas molestias excepturi sint occaecati cupiditate non provident.</p>
		</article>
		<article class="product">
			<h4>Vegan Maxi</h4>
			<img class="item" src="../img/burger05.jpg" alt="Hamburguesa Vegan Maxi">
			<p class="descript">Quis similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum, HARUM quidem rerum facilis est et expedita distinctio.</p>
		</article>
	</section>
	<div class="intro">
			<h3>Podés elegir un rico acompañante para tu hamburguesa:</h3>
	</div>
	<section class="meals">
		<article class="product">
			<h4>Papas Fit</h4>
			<img class="item" src="../img/papasFit.jpg" alt="Papas Fit">
			<p class="descript">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</article>
		<article class="product">
			<h4>Deligurt</h4>
			<img class="item" src="../img/deliGurt.jpg" alt="Yogurt Deli">
			<p class="descript">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium :P </p>
		</article>
		<article class="product">
			<h4>DeliNachos</h4>
			<img class="item" src="../img/deliNachos.jpg" alt="Hamburguesa Chicken Deli">
			<p class="descript">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium!</p>
		</article>		
	</section>
	<footer>
      <div id="foot">
        <span>Copyright © 2020 <b>Deli Burger S.R.L.</b></span>
        <span><a href="www.facebook.com"><i class="fab fa-facebook-square fa-lg rrss"></i></a></span>
        <span><a href="www.twitter.com"><i class="fab fa-twitter-square fa-lg rrss"></i></a></span>
        <span><a href="www.instagram.com"><i class="fab fa-instagram-square fa-lg rrss"></i></a></span>
      </div>
    </footer> 
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="crossorigin="anonymous"></script>
    <script src="../assets/js/scriptMenu.js"></script>
  </body>
</html>