@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box; }

body {
  font-family: Open Sans, sans-serif;
  background-color: #ffffff;
  background-image: url("../../img/DB-Back.png"); }

header {
  width: 100%;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #ffffff;
  opacity: 0.8; }
  header .topbar {
    width: 40%;
    display: flex; }
    header .topbar .header_logo {
      width: 30%;
      display: flex;
      justify-content: center;
      align-items: center; }
      header .topbar .header_logo .burgerID {
        height: 70px;
        animation-name: beating;
        animation-duration: 1.5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-delay: 0s; }

@keyframes beating {
  0% {
    height: 70px; }
  30% {
    height: 80px; }
  60% {
    height: 70px; } }
    header .topbar .header_title {
      width: 70%; }
      header .topbar .header_title h1 {
        font-size: 2em;
        margin-top: 0.35em;
        color: #ff9600;
        font-weight: bold;
        text-shadow: 2px 2px lightgray; }
      header .topbar .header_title .subtitle {
        color: green;
        font-weight: bold;
        margin-bottom: 0.5em;
        text-shadow: 1px 1px lightgray; }
    header .topbar .header_menu {
      display: none; }
  header nav {
    width: 60%;
    max-width: 1000px; }
    header nav ul {
      align-items: center;
      overflow: hidden;
      margin-bottom: 0; }
      header nav ul li {
        float: left; }
        header nav ul li a {
          color: #ff0082;
          font-weight: bold;
          padding: 16px;
          display: block;
          transition: 0.5s; }
        header nav ul li a:hover {
          background: #ff0082;
          color: #ffffff; }

.section_title {
  width: 95%;
  margin: 2em auto;
  padding: 0.5em;
  border-radius: 15px;
  background-color: #ff9600;
  animation-name: titleMotion;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 0s; }

@keyframes titleMotion {
  0% {
    background-color: #ff9600; }
  30% {
    background-color: #a2ff00; }
  50% {
    background-color: green; }
  80% {
    background-color: #ff0082; }
  100% {
    background-color: #ff9600; } }

h2 {
  font-size: 1.5em;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 0; }

.contenidos {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-areas: "aside media1 news1" "aside news2 media2" "aside media3 news3";
  grid-gap: 1.5em; }
  .contenidos aside {
    padding-top: 2em;
    grid-row-start: aside;
    grid-row-end: aside; }
    .contenidos aside .promo {
      width: 280px; }
  .contenidos .rejilla {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column; }
    .contenidos .rejilla .dbnews {
      width: 100%;
      border-radius: 10px; }

.parrafo {
  font-size: 0.9em;
  text-align: justify;
  line-height: 1.5em; }

footer {
  margin-top: 2em;
  background-color: black;
  color: #ff9600;
  display: flex; }
  footer #foot {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin: 5px; }

.rrss {
  color: #a2ff00;
  margin: 0px 5px;
  transition: 0.5s; }

.rrss:hover {
  color: #ff9600; }

/*Estilos de las páginas internas*/
.intro {
  margin-top: 2em;
  width: 100%; }
  .intro .declaration {
    font-size: 0.95em;
    line-height: 1.5em;
    text-align: center; }

h3 {
  font-size: 1.35em;
  font-weight: bold;
  text-align: center;
  color: #ff0082;
  margin-bottom: 0.7em; }

.meals {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  padding-top: 2em;
  justify-content: space-around; }
  .meals .product {
    width: 30%;
    margin-bottom: 2em; }
    .meals .product h4 {
      font-size: 1.15em;
      font-weight: bold;
      text-align: center;
      color: #a2ff00;
      background-color: green;
      border-radius: 10px;
      padding: 0.5em;
      margin-bottom: 0.7em; }
    .meals .product .item {
      width: 100%;
      transition: all 1s; }
    .meals .product .item:hover {
      transform: scale(1.25);
      border: 2px solid white; }

.descript {
  font-size: 0.8em;
  text-align: center; }

.geoTag {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  padding-top: 2em;
  justify-content: space-around; }

.restaurant {
  width: 20%;
  margin-bottom: 2em; }
  .restaurant .adress {
    font-size: 1.15em;
    font-weight: bold;
    text-align: center;
    background-color: #ff9600;
    color: white;
    border-radius: 10px;
    padding: 0.5em;
    margin-bottom: 0.7em;
    transition: all 1s; }
  .restaurant .adress:hover {
    background-color: #ff0082;
    color: white; }
  .restaurant .place {
    width: 100%;
    transition: all 1s; }
  .restaurant .place:hover {
    transform: scale(1.5);
    border: 2px solid white; }

.history {
  display: flex;
  width: 70%;
  margin: auto;
  padding-top: 2em;
  align-items: center;
  justify-content: space-around; }
  .history #usInDB {
    width: 30%;
    border-radius: 10px;
    margin: 1em; }
  .history .storytell {
    width: 60%; }

.selection {
  display: flex;
  flex-wrap: nowrap;
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: space-around; }
  .selection .rrhh {
    margin: 1em; }

#forms {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  padding-top: 2em;
  margin: auto;
  justify-content: center; }

.message {
  width: 50%; }

.sending {
  width: 20%; }

input[type="submit"] {
  background: #ff9600;
  font-weight: bold;
  color: green;
  align-items: center;
  transition-duration: 0.5s; }

input[type="submit"]:hover {
  background: green;
  color: #a2ff00; }

.datos {
  font-weight: bold;
  font-size: 1em;
  color: green;
  margin: 0em 0em 0.3em 1em; }

input {
  margin-bottom: 1em;
  width: 95%;
  padding: 0.5em;
  box-sizing: border-box;
  border-radius: 15px;
  border: 2px solid #ff9600;
  transition: all 1s; }

input:focus {
  font-size: 1.25em;
  border: 3px solid #ff0082; }

input:invalid {
  background-color: #ffdddd; }

input:valid {
  background-color: #ddffdd;
  border: 2px solid #a2ff00; }

textarea {
  margin-bottom: 1em;
  width: 95%;
  height: 180px;
  padding: 0.5em;
  box-sizing: border-box;
  border-radius: 15px;
  border: 2px solid #ff9600;
  transition: all 1s; }

textarea:focus {
  font-size: 1.25em;
  border: 3px solid #ff0082; }

/*-------------------------------------*/
/*Estilos para pantallas móviles*/
@media screen and (max-width: 800px) {
  body {
    background-color: #ffffff;
    background-image: none; }
  header {
    align-items: flex-start; }
    header .topbar {
      width: 100%; }
      header .topbar .header_logo {
        width: 20%; }
        header .topbar .header_logo .burgerID {
          max-height: 50px; }
      header .topbar .header_title {
        width: 65%; }
        header .topbar .header_title h1 {
          font-size: 1.5em; }
        header .topbar .header_title .subtitle {
          font-size: 1em; }
      header .topbar .header_menu {
        display: block;
        width: 15%; }
      header .topbar .but-menu {
        width: 100%;
        display: block;
        padding: 16px; }
        header .topbar .but-menu .icon {
          display: inline-block;
          color: green;
          float: right;
          font-size: 2em;
          font-weight: bold; }
    header nav {
      background: green;
      width: 70%;
      height: 100%;
      left: -100%;
      position: fixed; }
      header nav ul li {
        display: block;
        float: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
        header nav ul li a {
          color: #ffffff; }
  .section_title {
    animation-name: none; }
  h2 {
    font-size: 1.2em; }
  h3 {
    font-size: 1em; }
  .contenidos {
    grid-template-areas: "media1 news1" "news2 media2" "media3 news3"; }
    .contenidos aside {
      display: none; }
  .parrafo {
    font-size: 0.8em; }
  .intro {
    width: 80%;
    margin: auto;
    margin-top: 1.75em; }
    .intro .declaration {
      font-size: 0.8em; }
  .meals {
    justify-content: center; }
    .meals .product {
      width: 100%; }
      .meals .product .item:hover {
        transform: none; }
  .restaurant {
    width: 40%; }
    .restaurant .adress {
      font-size: 1em;
      font-weight: bold;
      text-align: center;
      background-color: #ff9600;
      color: white;
      border-radius: 10px;
      padding: 0.5em;
      margin-bottom: 0.7em;
      transition: none; }
    .restaurant .adress:hover {
      transform: none; }
    .restaurant .place {
      width: 100%;
      transition: none; }
    .restaurant .place:hover {
      transform: none; }
  .history {
    width: 100%;
    align-items: center; }
    .history #usInDB {
      display: none; }
    .history .storytell {
      width: 80%;
      text-align: center; }
  .wiped {
    display: none; }
  .selection .rrhh {
    margin: 0.5em; }
  .selection .invite {
    width: 80%; }
  #forms {
    flex-direction: column;
    justify-content: center; }
  .message {
    width: 100%; }
  .sending {
    width: 40%; } }
